/***********************************
	Tags
***********************************/

html, body {
    max-width: 100%;
}

input, select, option, button {
	width: 97.5% !important;		/* Because of margin-left from #main */
}

/***********************************
	DIV-Container
***********************************/

#main {
	margin-left: 2.5%;
	margin-top: 0.5%;
	overflow: hidden;
}


/***********************************
	Classes
***********************************/

.col-sm-4{
	height: 500px;
	overflow: hidden;
}

img.card-img-center{
	height: 500px;
}

.card-title{
	margin-top: -140px;
	margin-left: 10px;
	font-size: 18px;
}

.card-text{
	margin-left: 10px;
	font-size: 12px;
}

.card-img-overlay{
	margin-top: -150px;
}


